/* Add here all your CSS customizations */

/* Footericons */
.social-icons li:hover {
    background: #571D31;
	color: #FFF !important;
}

#footer a:not(.btn):hover {
    color: #571D31;

}

/* Loading splash screen */
.logo-load {
    margin: -120px 0 0 -35px;
    text-align: center;
    width: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 10000;
}

.bounce-loader .bounce1,
.bounce-loader .bounce2,
.bounce-loader .bounce3 {
	background-color: #571D31;
	border: 1px solid rgba(0, 0, 0, 0.327);
}


/* Homepage coaching section */
.process .process-step-circle strong {
	color: #4f6db3;
}

.process-step:hover h4{
    color: #4f6db3
}

.process-step:hover p {
    color: #b39d21;
}

.testimonial.testimonial-style-7 blockquote:before {
    color: #4f6db3;
}

html .btn-outline.btn-tertiary:hover, html .btn-outline.btn-tertiary.hover {
    color: #b39d21;
}

/* About section */
html .btn-primary:hover, html .btn-primary.hover {
    /* border-color: #d9a62e #d9a62e #571D31; */
    border-color: #4f6db3
}

.about-social-link:hover i {
    color: #571D31;
}

.about-section:hover h3 {
    color: #4f6db3;
}

.about-section:hover p {
    color: #b39d21;
}

/* .form-control {
    background-color: #bfbfbf;
} */
/* sort below */
.form-control input::placeholder {
    color: #E9CBD3;
  }

.nav-tabs .nav-item:hover p {
    color: #4f6db3
}

/* Coaching page section  - change commented out styles to correct colours */
html .featured-boxes-full-scale > .featured-box-full-tertiary:nth-child(1) {
	background-color: #1d3366;
}

html .featured-boxes-full-scale > .featured-box-full-tertiary:nth-child(2) {
	background-color: #334c87;
}

html .featured-boxes-full-scale > .featured-box-full-tertiary:nth-child(3) {
	background-color: #4F6DB3;
}

/* html .featured-boxes-full-scale > .featured-box-full-tertiary:nth-child(4) {
	background-color: #c99825;
}

html .featured-boxes-full-scale > .featured-box-full-tertiary:nth-child(5) {
	background-color: #d9a62e;
}

html .featured-boxes-full-scale > .featured-box-full-tertiary:nth-child(6) {
	background-color: #ddb044; */
}


/* @media screen {
    
} */