/* Add here all your CSS customizations */

/* Loading splash screen */
.logo-load {
    margin: -120px 0 0 -35px;
    text-align: center;
    width: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 10000;
}

.bounce-loader .bounce1,
.bounce-loader .bounce2,
.bounce-loader .bounce3 {
	background-color: #c99825;
	border: 1px solid rgba(0, 0, 0, 0.327);
}

/* Navbar */
#mainNav .active {
    text-decoration: underline;
    color: #b39d21 !important;
}

/* Homepage - changed #main from this to another element so check if uncommenting the below*/
/* #main > img {
    display: block;
    max-height: 200px;
} */

/* Homepage coaching section */

.process-step:hover p {
    color: #E3D9CB;
}

.testimonial.testimonial-style-7 blockquote:before {
    color: #E3D9CB;
}


html .btn-outline.btn-tertiary:hover, html .btn-outline.btn-tertiary.hover {
    color: #b39d21;
}

/* About section */

html .btn-primary:hover, html .btn-primary.hover {
    /* border-color: #d9a62e #d9a62e #571D31; */
    border-color: #E3D9CB
}

.about-social-link:hover i {
    color: #E3D9CB;
}

/* .form-control {
    background-color: #bfbfbf;
} */


/* sort below */
.form-control input::placeholder {
    color: #101324;
}



/* Coaching page section  */

/* Coaching */
#coaching-body {
    background:url("/static/img/about/banner1.jpg");
    background-size:100% auto; 
    min-height:100vh; 
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

/* info section */
.nav-tabs .nav-item:hover p {
    color: #101324;
}

/* Testimonial section */

.testimonial.testimonial-with-quotes blockquote p {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
}

.owl-dots{
    padding-top: 10px;
}
.owl-next, .owl-prev {
    color: #b39d21 !important;
    background-color: #101324 !important;
}

#testimonial-block > div > div a {
    color: #b39d21;
    cursor: pointer;
}

.slider-logo {
	width: 200px !important;
	height: auto !important;
}




/* MEDIA QUERIES */


@media (max-width: 991px) {
    #header .header-nav-main nav {
        background-color: #E3D9CB;
    }

    #coaching-body {
    background:url("/static/img/about/banner2.jpg");
    background-size:contain; 
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

    }
}