/* Add here all your CSS customizations */

/* Loading splash screen */
.logo-load {
    margin: -120px 0 0 -35px;
    text-align: center;
    width: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 10000;
}

.bounce-loader .bounce1,
.bounce-loader .bounce2,
.bounce-loader .bounce3 {
	background-color: #c99825;
	border: 1px solid rgba(0, 0, 0, 0.327);
}

/* Navbar */
#mainNav .active {
    text-decoration: underline;
}

/* Footericons */
.social-icons li:hover {
    background: #571D31;
	color: #FFF !important;
}

#footer a:not(.btn):hover {
    color: #571D31;

}


/* Homepage */
#main > img {
    display: block;
    max-height: 200px;
}

/* Homepage coaching section */
.process .process-step-circle strong {
	color: #4f6db3;
}

.process-step:hover h4{
    color: #4f6db3
}

.process-step:hover p {
    color: #b39d21;
}

.testimonial.testimonial-style-7 blockquote:before {
    color: #4f6db3;
}

html .btn-outline.btn-tertiary:hover, html .btn-outline.btn-tertiary.hover {
    color: #b39d21;
}

/* About section */

.parallax-background {
    background-position-y: 128% !important;
}


html .btn-primary:hover, html .btn-primary.hover {
    /* border-color: #d9a62e #d9a62e #571D31; */
    border-color: #4f6db3
}

.about-social-link:hover i {
    color: #571D31;
}

.about-section:hover h3 {
    color: #4f6db3;
}

.about-section:hover p {
    color: #b39d21;
}

/* .form-control {
    background-color: #bfbfbf;
} */


/* sort below */
.form-control input::placeholder {
    color: #E9CBD3;
  }

.nav-tabs .nav-item:hover p {
    color: #4f6db3
}

/* Coaching page section  */

/* Coaching */
#coaching-body {
    background:url("/static/img/about/banner1.jpg");
    background-size:cover; 
    min-height:100vh; 
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: bottom;
}


/* Testimonial section */

.testimonial.testimonial-with-quotes blockquote p {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
}

.owl-dots{
    padding-top: 10px;
}

#testimonial-block > div > div a {
    color: gold;
}

.slider-logo {
	width: 190px !important;
	height: auto !important;
}




/* MEDIA QUERIES */


@media (max-width: 991px) {
    #header .header-nav-main nav {
        background-color: #4f6db3;
    }

    #coaching-body {
    background:url("/static/img/about/banner2.jpg");
    background-size:contain; 
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

    }
}