<footer id="footer" class="bg-color-secondary mt-0">
    <div class="container my-4">
        <div class="row py-5">
            <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-quaternary mb-4">Contact Details</h5>
                <p class="text-4 text-primary mb-0">Linkedin: <a href="https://www.linkedin.com/in/jessica-ocquaye-mcipd-13b03384" class="text-color-hover-quaternary">Jessica Ocquaye</a> </p>
                <p class="text-4 text-primary mb-0">Email: <a href="mailto:info@jfmconsult.co.uk" class="text-color-hover-quaternary">info@jfmconsult.co.uk</a></p>
            </div>
            <div class="col-6 col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-quaternary mb-4">Pages</h5>
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fas fa-angle-right"></i><a href="/about/" class="link-hover-style-1 ml-1"> About Us</a></li>
                    <li><i class="fas fa-angle-right"></i><a href="/coaching/" class="link-hover-style-1 ml-1"> Coaching</a></li>
                    <!-- <li><i class="fas fa-angle-right"></i><a href="/blog/" class="link-hover-style-1 ml-1"> Blog</a></li> -->
                    <li><i class="fas fa-angle-right"></i><a href="/contact/" class="link-hover-style-1 ml-1"> Contact Us</a></li>
                </ul>
            </div>
            <!-- <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Links</h5>
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fas fa-angle-right"></i><a href="#" class="link-hover-style-1 ml-1"> Privacy Policy</a></li>
                </ul>
            </div> -->
            <div class="col-lg-5">
                <h5 class="text-6 text-transform-none font-weight-semibold text-quaternary mb-4">Newsletter</h5>
                <p class="text-4 mb-1">Get all the latest information</p>
                <p class="text-4">Sign up for our newsletter today.</p>


                <div class="alert alert-success d-none" id="newsletterSuccess">
                    <strong>Success!</strong> You've been added to our email list.
                </div>

                <div class="input-group input-group-rounded">
                    <button class="btn btn-primary text-color-light text-2 py-3 px-4" id="myBtn" data-toggle="modal" data-target="#newsletterModal"><strong>SUBSCRIBE!</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-color-secondary footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> JFM Consult | Website by 
                    <a class="text-color-hover-quaternary" href="https://www.ax99.tech" target="blank">AX99</a>
                </div>
                <div class="col">
                    <ul class="footer-social-icons float-right social-icons social-icons-clean social-icons-opacity-light social-icons-icon-light mt-1">
                        <!-- change classes below to icon name and change references -->
                        <li><a class="bg-primary text-tertiary bg-hover-quaternary" href="https://www.tiktok.com/@jessfmcoach" target="_blank" title="Tiktok"><i class="fab fa-tiktok"></i></a></li>
                        <li><a class="bg-primary text-tertiary bg-hover-quaternary" href="https://www.linkedin.com/in/jessica-ocquaye-mcipd-13b03384" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a class="bg-primary text-tertiary bg-hover-quaternary" href="mailto:info@jfmconsult.co.uk" target='mailto'><i class="far fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade show my-5 py-5" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" style="display: hidden;" aria-modal="true">
	<div class="modal-dialog bg-secondary">
		<div class="modal-content bg-tertiary">
			<div class="modal-header">
				<h4 class="modal-title mx-auto text-center text-uppercase text-primary font-weight-bold" id="newsletterLabel">Sign up to the JFM Consult Newsletter</h4>
				<button type="button" class="close p-3 m-n3" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body text-center">
				<form id="demo-form" class="mb-4" novalidate="novalidate" action="https://ml.kundenserver.de/cgi-bin/mailinglist.cgi" method="POST" target="_blank">
                    {% csrf_token %}

                    {% for hidden in newsletter.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    {% for field in newsletter.visible_fields %}
					<div class="align-items-center">
						<label class="font-weight-bold mb-0">{{ field.label }}</label>
					</div>

					<div class="form-group row align-items-center">
						<div class="col-sm-10 offset-1">
							<br />
							<input maxlength="51" name="{{ field.name}}" class="form-control size="51" type="text">
							<br />
						</div>
					</div>
                    {% endfor %}
                    <div class="form-group row align-items-center" style="display: none">
						<div class="col-sm-9">
							<input checked name="subscribe_r" class="form-control" type="radio" value="subscribe">
							Subscribe me to newsletter@jfmconsult.co.uk.
							<br />
							<input name="subscribe_r" class="form-control" type="radio" value="unsubscribe">
							Unsubscribe me from newsletter@jfmconsult.co.uk.
						</div>
                        <input name="FBMLNAME" type="hidden" value="newsletter@jfmconsult.co.uk">
                        <br />
                        <input name="FBLANG" type="hidden" value="en">
                        <br />
                        <input name="FBURLERROR_L" type="hidden" value="https://ml.kundenserver.de/mailinglist/error.en.html">
                        <br />
                        <input name="FBURLSUBSCRIBE_L" type="hidden" value="https://ml.kundenserver.de/mailinglist/subscribe.en.html">
                        <br />
                        <input name="FBURLUNSUBSCRIBE_L" type="hidden" value="https://ml.kundenserver.de/mailinglist/unsubscribe.en.html">
                        <br />
                        <input name="FBURLINVALID_L" type="hidden" value="https://ml.kundenserver.de/mailinglist/invalid.en.html">
                    </div>
			<div class="modal-footer">
				<input type="SUBMIT" class="btn btn-modern bg-quaternary border-color-quaternary btn-outline text-secondary bg-hover-primary text-hover-tertiary mx-auto" value="Send">
				<br />
				<input type="RESET" class="btn btn-modern bg-quaternary border-color-quaternary btn-outline text-secondary bg-hover-primary text-hover-tertiary mx-auto" value="Reset">
			</div>
				</form>
			</div>
		</div>
	</div>
</div>
