<footer id="footer" class="bg-color-secondary mt-0">
    <div class="container my-4">
        <div class="row py-5">
            <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-quaternary mb-4">Contact Details</h5>
                <p class="text-4 text-primary mb-0">Linkedin: <a href="https://www.linkedin.com/in/jessica-ocquaye-mcipd-13b03384" class="text-color-hover-quaternary">Jessica Ocquaye</a> </p>
                <p class="text-4 text-primary mb-0">Email: <a href="mailto:info@jfmconsult.co.uk" class="text-color-hover-quaternary">info@jfmconsult.co.uk</a></p>
            </div>
            <div class="col-6 col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-quaternary mb-4">Pages</h5>
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fas fa-angle-right"></i><a href="/about/" class="link-hover-style-1 ml-1"> About Us</a></li>
                    <li><i class="fas fa-angle-right"></i><a href="/coaching/" class="link-hover-style-1 ml-1"> Coaching</a></li>
                    <!-- <li><i class="fas fa-angle-right"></i><a href="/blog/" class="link-hover-style-1 ml-1"> Blog</a></li> -->
                    <li><i class="fas fa-angle-right"></i><a href="/contact/" class="link-hover-style-1 ml-1"> Contact Us</a></li>
                </ul>
            </div>
            <!-- <div class="col-6 col-lg-2 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Links</h5>
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fas fa-angle-right"></i><a href="#" class="link-hover-style-1 ml-1"> Privacy Policy</a></li>
                </ul>
            </div> -->
            <div class="col-lg-5">
                <h5 class="text-6 text-transform-none font-weight-semibold text-quaternary mb-4">Newsletter</h5>
                <p class="text-4 mb-1">Get all the latest informationon Sales and Offers.</p>
                <p class="text-4">Sign up for our newsletter today.</p>
                <div class="alert alert-success d-none" id="newsletterSuccess">
                    <strong>Success!</strong> You've been added to our email list.
                </div>
                <div class="alert alert-danger d-none" id="newsletterError"></div>
                <form id="newsletterForm" action="#" method="POST" class="mw-100">
                    <div class="input-group input-group-rounded">
                        <input class="form-control form-control-sm px-4 text-3" placeholder="Email Address..." name="newsletterEmail" id="newsletterEmail" type="text">
                        <span class="input-group-append">
                            <button class="btn btn-primary text-color-light text-2 py-3 px-4" type="submit"><strong>SUBSCRIBE!</strong></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-color-secondary footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> JFM Consult | Website by 
                    <a class="text-color-hover-quaternary" href="https://www.github.com/AX99/" target="blank">AX99</a>
                </div>
                <div class="col">
                    <ul class="footer-social-icons float-right social-icons social-icons-clean social-icons-opacity-light social-icons-icon-light mt-1">
                        <!-- change classes below to icon name and change references -->
                        <li><a href="https://www.tiktok.com/@jessfmcoach" target="_blank" title="Tiktok"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jessica-ocquaye-mcipd-13b03384" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="mailto:info@jfmconsult.co.uk" target='mailto'><i class="far fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>