{% load static %}
{% if request.get_full_path == '/' or request.get_full_path == "/about/" %}
<header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
{% else %}
<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
{% endif %}
  <div class="header-body border-top-0 bg-color-secondary">
    <div class="header-container container">
      <div class="header-row">
        <div class="header-column">
          <div class="header-row">
            <div class="header-logo">
              <a href="/">
                <img alt="Porto" width="100" height="48" data-sticky-width="82" data-sticky-height="40" src="{% static "img/logo-transparent.png"%}">
              </a>
            </div>
          </div>
        </div>
        <div class="header-column justify-content-end">
          <div class="header-row">
            <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
              <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                <nav class="collapse">
                  <ul class="nav nav-pills" id="mainNav">
                    {% with url_name=request.resolver_match.url_name %}
                    <li>
                      <a class="{% if url_name == 'index' %}active{% endif %}" href="/">
                        Home
                      </a>
                    </li>
                    <li>
                      <a class="{% if url_name == 'about' %}active{% endif %}" href="/about/">
                        About
                      </a>
                    </li>
                    <li>
                      <a class="{% if url_name == 'coaching' %}active{% endif %}" href="/coaching/">
                        Coaching
                      </a>
                    </li>
                    <li>
                      <a class="{% if url_name == 'blog' %}active{% endif %}" href="/blog/">
                        Blog
                      </a>
                    </li>
                    <li>
                      <a class="{% if url_name == 'contact' %}active{% endif %}" href="/contact/">
                        Contact
                      </a>
                    </li>
                    {% endwith %}
                  </ul>
                </nav>
              </div>
              <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                <i class="fas fa-bars"></i>
              </button>
            </div>
            <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
              <div class="header-nav-feature header-nav-features-search d-inline-flex">
                <a href="https://www.linkedin.com/in/jessica-ocquaye-mcipd-13b03384" target="_blank" class="header-nav-features-toggle pl-1"><i class="fab fa-linkedin-in text-color-primary text-hover-light header-nav-top-icon"></i></a>
              </div>
              <div class="header-nav-feature header-nav-features-search d-inline-flex">
                <a href="mailto:info@jfmconsult.co.uk" class="header-nav-features-toggle  pl-2" target='mailto'><i class="far fa-envelope text-color-primary text-hover-light header-nav-top-icon"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>