{% load static %}
<div class="slider-container rev_slider_wrapper" style="height: 800px;">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'gridwidth': 1170, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
        <ul>
            <li data-transition="fade" class="slide-overlay slide-overlay-level-7">
                <img src="{% static "img/slides/slide.jpg" %}"
                    alt=""
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat" 
                    class="rev-slidebg">
<!-- 
                <div class="tp-caption"
                    data-x="center" data-hoffset="['-150','-150','-150','-240']"
                    data-y="center" data-voffset="['-110','-110','-110','-135']"
                    data-start="1000"
                    data-transform_in="x:[-300%];opacity:0;s:500;"
                    data-transform_idle="opacity:0.2;s:500;"><img src="{% static "img/slides/slide-title-border.png" %}" alt=""></div>

                <div class="tp-caption text-color-light font-weight-normal"
                    data-x="center"
                    data-y="center" data-voffset="['-110','-110','-110','-135']"
                    data-start="700"
                    data-fontsize="['22','22','22','40']"
                    data-lineheight="['25','25','25','45']"
                    data-transform_in="y:[-50%];opacity:0;s:500;">Welcome to</div>

                <div class="tp-caption"
                    data-x="center" data-hoffset="['150','150','150','240']"
                    data-y="center" data-voffset="['-110','-110','-110','-135']"
                    data-start="1000"
                    data-transform_in="x:[300%];opacity:0;s:500;"
                    data-transform_idle="opacity:0.2;s:500;"><img src="{% static "img/slides/slide-title-border.png" %}" alt=""></div> -->


                <div class="tp-caption tp-resizeme"
                    data-x="center"
                    data-y="center" 
                    data-voffset="['-30','-30','-30','10']"
                    data-lineheight="['29','29','29','40']"
                    data-width="['auto']"
                    data-height="['auto']"
                    data-start="1000"
                    data-transform_in="opacity:0;s:500;"
                    data-transform_idle="opacity:1;s:500;" style="z-index: 5;"><img class="slider-logo" src="{% static 'img/logo-transparent.png' %}" alt="">
                </div>

                <a class="tp-caption btn btn-light-2 btn-outline btn-rounded font-weight-semibold bg-hover-primary
                bg-hover-primary bg-quaternary border-color-quaternary text-color-hover-tertiary text-secondary "
                    data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"opacity:0;y:50%;","to":"o:1;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                    data-hash
                    data-hash-offset="85"
                    href=".img-fluid"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="['100','100','130','260']"
                    data-whitespace="nowrap"	
                    data-fontsize="['15','15','15','33']"	
                    data-paddingtop="['15','15','15','40']"
                    data-paddingright="['45','45','45','110']"
                    data-paddingbottom="['15','15','15','40']"				 
                    data-paddingleft="['45','45','45','110']">Take The First Step
                </a>
            </li>
        </ul>
    </div>
</div>