

<section class="section section-tertiary mb-0 border-0 appear-animation" data-appear-animation="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                
                <div class="owl-carousel owl-theme nav-bottom rounded-nav mb-0" data-plugin-options="{'items': 1, 'loop': false, 'nav': true, 'autoHeight': true}" id="testimonial-block">
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">My coaching experience with Jessica was very positive and it was sad when it came to an end. She managed to get me to think differently about some of the approaches and techniques I was using, especially joining an organisation as a new executive director! The great thing about the sessions was the ease and depth of conversations. I was able to share my innermost thoughts without feeling judged. Jessica is a active listener and a joy to be around</p>
                            </blockquote>
                            <a class="color-primary"  data-toggle="modal" data-target="#defaultModal">Read More</a>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- Jeff</strong></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">I really enjoyed and benefitted from my coaching sessions with Jessica. Her relaxed coaching style enabled me to think more carefully about my career aspirations and what I need to do to achieve them. Jessica encouraged me to believe in not only myself but also my abilities and helped me to realise the importance of self-confidence. I have since gone on to step out of my comfort zone and embrace new career opportunities. I am truly thankful for all of Jessica’s support!</p>
                            </blockquote>
                            <a class="color-primary"  data-toggle="modal" data-target="#defaultModal">Read More</a>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- Deneice</strong></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">Being coached by Jessica was such a blessing and life changing experience. When I began the sessions I was looking at a career change and exploring self-development in the way I communicate and complete tasks. The sessions helped me express how I felt about certain things, create action plans in order to get tasks rather than just have multiple thoughts and change my outlook in many areas of my life. I am pleased to say in the sessions I had not only did I feel more positive and confident in my abilities, I was also able to complete my goals, one of which was securing a new role! I would highly recommend these sessions to anyone looking for betterment in any area.

                                Thank you so much for your help Jessica!
                                </p>
                            </blockquote>
                            <a class="color-primary"  data-toggle="modal" data-target="#defaultModal">Read More</a>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- Andy</strong></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">Jessica helped me be a better version of myself! She gave me the tools and the head space to reflect on internal areas for improvement and I can see growth in my work and personal life. 
                                Jessica was patient, she listened attentively and asked the right questions to highlight areas that needed attention. She created a safe space where I could be myself. She didn’t tell me what to do, instead she allowed me to delve deeper to uncover the root causes and then we explored what the solutions could be. 
                                Working with Jessica was a true journey. My self-confidence grew, as an individual, but also as a professional in my field. I learnt practical ways to manage my time and tasks better and gained a better understanding of things I can and cannot control, which is something that will stay with me for life.
                                She helped me identify my current state and where I want to be in the future and then together we mapped out clear and achievable steps on how I could get there. Jessica is a great coach, who I would definitely work with again in the future to help with any work and personal challenges. Thank you Jess!
                                </p>
                            </blockquote>
                            <a class="color-primary"  data-toggle="modal" data-target="#defaultModal">Read More</a>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- Sabrina</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<div class="modal fade show" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="testimonialAuthor" style="display: hidden;" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title " id="testimonialAuthor">Author</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p id="testimonial">Testimonial</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

