{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %} 
{% block content %}

<section class="page-header page-header-modern page-header-background page-header-background-md parallax overlay overlay-color-dark overlay-show overlay-op-5 mt-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.2}" data-image-src={% static 'img/page-header/page-header-parallax.jpg' %} style="position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url("#"); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 180%; transform: translate3d(0px, -51.25px, 0px); background-position-x: 50%;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="text-primary">About <strong> JFM Consult</strong></h1>
            </div>
        </div>
    </div>
</section>
<div class="container pt-5 border-bottom">
    <div class="row py-4 mb-2">
        <div class="col-md-7 order-2">
            <div class="overflow-hidden">
                <h2 class="text-color-primary font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="300" style="animation-delay: 300ms;">Jessica Ocquaye</h2>
            </div>
            <div class="overflow-hidden mb-3">
                <p class="font-weight-bold text-tertiary text-uppercase mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="500" style="animation-delay: 500ms;">Life and Career Coach</p>
            </div>
            <p class="lead appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700" style="animation-delay: 700ms;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam <a href="#">vehicula</a> sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam. Donec ante risus, dapibus sed lectus non, lacinia vestibulum nisi. Morbi vitae augue quam. Nullam ac laoreet libero.</p>
            <p class="pb-3 text-tertiary appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" style="animation-delay: 800ms;">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>
            <hr class="solid my-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" style="animation-delay: 900ms;">
            <div class="row align-items-center appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
                <div class="col-lg-6">
                    <a href="/contact/" class="btn btn-modern btn-primary bg-color-hover-tertiary text-color-hover-secondary text-secondary mt-3">Get In Touch</a>
                </div>
                <div class="col-sm-6 text-lg-right my-4 my-lg-0">
                    <strong class="text-uppercase text-1 mr-3 text-primary">follow me</strong>
                    <ul class="social-icons float-lg-right">
                        <li class="social-icons-twitter"><a class="about-social-link bg-quaternary bg-color-hover-tertiary" href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-icons-linkedin"><a class="bg-quaternary about-social-link bg-color-hover-tertiary" href="https://www.linkedin.com/in/jessica-ocquaye-mcipd-13b03384/?originalSubdomain=uk" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div> 
        </div>

        <div class="col-md-5 rounded-lg order-md-2 overflow-hidden mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" style="animation-delay: 100ms; width: 445px; height: 445px;">
        <!-- <div class="col-md-5 rounded-lg order-md-2 overflow-hidden mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" style="animation-delay: 100ms; width: 445px; height: 445px; background-size: cover; background-image: url('{% static 'img/team/team-7p.jpg' %} ');"> -->
            <img src="{% static "img/team/team-7p.jpg"%}" class="img-fluid mb-2 rounded-lg" alt="">
        </div>
    </div>
</div>

<div class="container py-4 my-5">
    <div class="row justify-content-center mb-4">
        <div class="col-md-12 col-lg-10">

            <div class="tabs tabs-bottom tabs-center tabs-simple custom-tabs-style-1 mt-2 mb-3">
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#tabsNavigationSimpleIcons1" data-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                    <span class="box-content p-0 m-0">
                                        <i class="icon-featured icon-bulb icons"></i>
                                    </span>
                                </span>
                            </span>									
                            <p class="text-color-hover-tertiary  font-weight-bold mb-0 pt-2 text-2 pb-0">Strategy</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabsNavigationSimpleIcons2" data-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                    <span class="box-content p-0 m-0">
                                        <i class="icon-featured icon-mustache icons"></i>
                                    </span>
                                </span>
                            </span>									
                            <p class="text-color-hover-tertiary font-weight-bold mb-0 pt-2 text-2 pb-0">Creative</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabsNavigationSimpleIcons3" data-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                    <span class="box-content p-0 m-0">
                                        <i class="icon-featured icon-puzzle icons"></i>
                                    </span>
                                </span>
                            </span>									
                            <p class="text-color-hover-tertiary font-weight-bold mb-0 pt-2 text-2 pb-0">Development</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="#tabsNavigationSimpleIcons4" data-toggle="tab">
                            <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                    <span class="box-content p-0 m-0">
                                        <i class="icon-featured icon-rocket icons"></i>
                                    </span>
                                </span>
                            </span>									
                            <p class="text-color-hover-tertiary font-weight-bold mb-0 pt-2 text-2 pb-0">Marketing</p>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tabsNavigationSimpleIcons1">
                        <div class="text-center">
                            <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabsNavigationSimpleIcons2">
                        <div class="text-center">
                            <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabsNavigationSimpleIcons3">
                        <div class="text-center">
                            <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                        </div>
                    </div>
                    <div class="tab-pane active" id="tabsNavigationSimpleIcons4">
                        <div class="text-center">
                            <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}