{% extends 'base.html' %}
{% load static %}
{% block title %} Coaching {% endblock %} 
{% block content %}

<div class="text-center mt-5 mb-3">
    <div class="overflow-hidden mb-1">
        <h2 class="text-primary font-weight-normal text-7 mt-2 mb-0 appear-animation animated maskUp appear-animation-visible underline" data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">The <strong class="font-weight-extra-bold">Coaching Process</strong> </h2>
    </div>
    <div class="overflow-hidden mb-4 pb-3">
        <p class="text-tertiary mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="400" style="animation-delay: 400ms;">Feel free to ask for details, don't save any questions!</p>
    </div>
</div>
<div class="container-fluid" style='background:url("{% static 'img/about/banner.png' %}"); background-size:cover; height:100vh;'>
    <br><br><br>
    <div class="container py-5 mb-5" style="height:500px;">
        <div class="row col-xl-9 justify-content-center mb-4">
            <div>

                <div class="tabs tabs-bottom tabs-center tabs-simple custom-tabs-style-1 mt-2 mb-3">
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item active">
                            <a class="nav-link active" href="#tabsNavigationSimpleIcons1" data-toggle="tab">
                                <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-bulb icons"></i>
                                        </span>
                                    </span>
                                </span>									
                                <p class="text-color-hover-tertiary  font-weight-bold mb-0 pt-2 text-2 pb-0">1. Strategy</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabsNavigationSimpleIcons2" data-toggle="tab">
                                <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-mustache icons"></i>
                                        </span>
                                    </span>
                                </span>									
                                <p class="text-color-hover-tertiary font-weight-bold mb-0 pt-2 text-2 pb-0">2. Creative</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabsNavigationSimpleIcons3" data-toggle="tab">
                                <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-puzzle icons"></i>
                                        </span>
                                    </span>
                                </span>									
                                <p class="text-color-hover-tertiary font-weight-bold mb-0 pt-2 text-2 pb-0">3. Development</p>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabsNavigationSimpleIcons1">
                            <div class="text-center">
                                <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabsNavigationSimpleIcons2">
                            <div class="text-center">
                                <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabsNavigationSimpleIcons3">
                            <div class="text-center">
                                <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<br>
    <div class="mt-4 pt-4 row">
        <div class="col col-xl-9 text-center">
            <a class="btn btn-outline btn-primary text-1 font-weight-semibold text-uppercase px-5 btn-py-2 mb-3" href="/contact/">Book your Free Initial Consultation</a>
        </div>
    </div>
    <br>
</div>


<section class="section bg-tertiary section-height-3 border-0 m-0">
    <div class="container pb-2">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-5 mb-lg-0">
                <h2 class="text-primary font-weight-normal text-6 mb-2">About <strong class="font-weight-extra-bold">Our Clients</strong></h2>
                <p class="lead text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc.</p>
                <div class="row justify-content-center my-5">
                    <div class="col-8 text-center col-md-4">
                        <img src="{% static "img/logos/logo-1.png" %}" class="img-fluid hover-effect-3" alt="">
                    </div>
                    <div class="col-8 text-center col-md-4 my-3 my-md-0">
                        <img src="{% static "img/logos/logo-2.png" %}" class="img-fluid hover-effect-3" alt="">
                    </div>
                    <div class="col-8 text-center col-md-4">
                        <img src="{% static "img/logos/logo-3.png" %}" class="img-fluid hover-effect-3" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme nav-style-1 stage-margin owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40, 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}" style="height: auto;">

                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-920px, 0px, 0px); transition: all 0.25s ease 0s; width: 2840px; padding-left: 40px; padding-right: 40px;"><div class="owl-item cloned" style="width: 460px;"><div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                            <div class="testimonial-author">
                                <img src="{% static "img/clients/client-1.jpg"%}" class="img-fluid rounded-circle mb-0" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-4 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">John Smith</strong><span>Okler</span></p>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 460px;"><div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                            <div class="testimonial-author">
                                <img src="{% static "img/clients/client-1.jpg"%}" class="img-fluid rounded-circle mb-0" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-4 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">John Smith</strong><span>Okler</span></p>
                            </div>
                        </div>
                    </div></div><div class="owl-item active" style="width: 460px;"><div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                            <div class="testimonial-author">
                                <img src="{% static "img/clients/client-1.jpg"%}" class="img-fluid rounded-circle mb-0" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-4 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">John Smith</strong><span>Okler</span></p>
                            </div>
                        </div>
                    </div></div><div class="owl-item" style="width: 460px;"><div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                            <div class="testimonial-author">
                                <img src="{% static "img/clients/client-1.jpg"%}" class="img-fluid rounded-circle mb-0" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-4 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">John Smith</strong><span>Okler</span></p>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 460px;"><div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                            <div class="testimonial-author">
                                <img src="{% static "img/clients/client-1.jpg"%}" class="img-fluid rounded-circle mb-0" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-4 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">John Smith</strong><span>Okler</span></p>
                            </div>
                        </div>
                    </div></div><div class="owl-item cloned" style="width: 460px;"><div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote pl-md-4 mb-0">
                            <div class="testimonial-author">
                                <img src="{% static "img/clients/client-1.jpg"%}" class="img-fluid rounded-circle mb-0" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-4 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae metus tellus. Curabitur non lorem at odio tempus consectetur vel eu lacus. Morbi.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">John Smith</strong><span>Okler</span></p>
                            </div>
                        </div>
                    </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots disabled"></div></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}