{% extends 'base.html' %}
{% load static %}
{% block title %} Coaching {% endblock %} 
{% block content %}

<div class="text-center mt-5 mb-3">
    <div class="overflow-hidden mb-1">
        <h2 class="text-primary font-weight-normal text-7 mt-2 mb-0 appear-animation animated maskUp appear-animation-visible underline" data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">The <strong class="font-weight-extra-bold">Coaching Process</strong> </h2>
    </div>
    <div class="overflow-hidden mb-4 pb-3">
        <p class="text-tertiary mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="400" style="animation-delay: 400ms;">Feel free to ask for details, don't save any questions!</p>
    </div>
</div>
<div class="container-fluid" id="coaching-body">
    <br><br>
    <p class="col-9 text-center m-auto appear-animation animated fadeInUpShorter appear-animation-visible">
        We live and work in a <span class="text-primary">Volatile, Unpredictable, Complex and Ambiguous (VUCA)</span> environment and it’s important that we can overcome constant interference in order to succeed and ultimately be happy. When you strip everything away that kept us occupied and busy I think we realise what really matters and now more than ever, we need to feel connected to whatever our passions and purpose are.
    </p>
    <br>
    <div class="container py-5">
        <div class="row col-xl-9 justify-content-center mb-4">
            <div>

                <div class="tabs tabs-bottom tabs-center tabs-simple custom-tabs-style-1 mt-2 mb-3">
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item active">
                            <a class="nav-link active" href="#tabsNavigationSimpleIcons1" data-toggle="tab">
                                <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-bulb icons"></i>
                                        </span>
                                    </span>
                                </span>									
                                <p class="text-color-hover-tertiary  font-weight-bold mb-0 pt-2 text-2 pb-0">1. Strategy</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabsNavigationSimpleIcons2" data-toggle="tab">
                                <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-mustache icons"></i>
                                        </span>
                                    </span>
                                </span>									
                                <p class="text-color-hover-tertiary font-weight-bold mb-0 pt-2 text-2 pb-0">2. Creative</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabsNavigationSimpleIcons3" data-toggle="tab">
                                <span class="featured-boxes featured-boxes-style-6 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0" style="height: 100px;">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-puzzle icons"></i>
                                        </span>
                                    </span>
                                </span>									
                                <p class="text-color-hover-tertiary font-weight-bold mb-0 pt-2 text-2 pb-0">3. Development</p>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" style="background: rgb(225 195 202 / 70%);">
                        <div class="tab-pane active" id="tabsNavigationSimpleIcons1">
                            <div class="text-center">
                                <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabsNavigationSimpleIcons2">
                            <div class="text-center">
                                <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabsNavigationSimpleIcons3">
                            <div class="text-center">
                                <p class="text-tertiary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 pt-4 row">
        <div class="col col-xl-9 text-center">
            <a class="btn btn-outline text-white btn-primary bg-primary text-1 font-weight-semibold text-uppercase px-5 btn-py-2 mb-3" href="/contact/">Book your Free Initial Consultation</a>
        </div>
    </div>
    <br>
</div>

{% include 'components/testimonials.html' %}
{% endblock %}