{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %} 
{% block content %}
{% include 'components/slider.html' %}

<div class="container my-5 py-3" id="main">
    <div class="row pt-4">
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icon-user-following icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Customer Support</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeIn">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icon-layers icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Sliders</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icon-calculator icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">HTML5</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-lg-3">
        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
                <div class="feature-box-icon">
                    <i class="icon-star icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Icons</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">
                <div class="feature-box-icon">
                    <i class="icon-drop icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Colors</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icon-mouse icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Buttons</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-lg-3">
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icon-screen-desktop icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Lightboxes</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icon-energy icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Elements</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
            <div class="feature-box feature-box-style-2">
                <div class="feature-box-icon">
                    <i class="icon-social-youtube icons"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="font-weight-bold mb-2">Videos</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section section-secondary border-0 py-0 m-0 z-index-master position-relative appear-animation" data-appear-animation="fadeIn">
    <div class="container">
        <div class="row align-items-center justify-content-center justify-content-lg-between pb-5 pb-lg-0">
            <div class="col-lg-5 order-2 order-lg-1 pt-4 pt-lg-0 pb-5 pb-lg-0 mt-5 mt-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                <h2 class="font-weight-bold text-color-light text-7 mb-2">Who We Are</h2>
                <p class="lead font-weight-light text-color-light text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit massa enim. Nullam id varius nunc.</p>
                <p class="font-weight-light text-color-light text-2 mb-4 opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendun magna ex, et faucibus lacus venenatis eget</p>
                <a href="#" class="btn btn-dark-scale-2 btn-px-5 btn-py-2 text-2">LEARN MORE</a>
            </div>
            <div class="col-9 offset-lg-1 col-lg-5 order-1 order-lg-2 scale-2">
                <img class="img-fluid box-shadow-3 my-2 border-radius" src="{% static "img/gallery/gallery-1.jpg"%}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="section section-height-3 bg-color-grey-scale-1 border-0 m-5 appear-animation" data-appear-animation="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                
                <div class="owl-carousel owl-theme nav-bottom rounded-nav mb-0" data-plugin-options="{'items': 1, 'loop': false, 'autoHeight': true}">
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <div class="testimonial-author">
                                <img src="{% static "img/clients/client-1.jpg"%}" class="img-fluid rounded-circle" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                            <div class="testimonial-author">
                                <img src="{% static "img/clients/client-1.jpg"%}" class="img-fluid rounded-circle" alt="">
                            </div>
                            <blockquote>
                                <p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </blockquote>
                            <div class="testimonial-author">
                                <p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 p-0">
            <section class="section section-height-3 section-primary h-100 m-0 border-0">
                <div class="row justify-content-end m-0">
                    <div class="col-half-section col-half-section-right mb-5 appear-animation" data-appear-animation="fadeInRightShorter">
                        <h2 class="text-light text-7">Latest <strong>Posts</strong></h2>
                        <div class="row recent-posts">
                            <div class="col-md-6 mb-4 mb-md-0">
                                <article>
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <div class="date">
                                                <span class="day bg-color-light text-color-dark font-weight-extra-bold">15</span>
                                                <span class="month bg-color-light font-weight-semibold text-color-primary text-1">JAN</span>
                                            </div>
                                        </div>
                                        <div class="col pl-1">
                                            <h4 class="font-weight-normal line-height-3 text-4"><a href="blog-post.html" class="text-light">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                            <p class="text-color-light line-height-5 opacity-6 pr-4 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <a href="/" class="read-more text-color-light font-weight-semibold text-2">read more <i class="fas fa-chevron-right text-1 ml-1"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6">
                                <article>
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <div class="date">
                                                <span class="day bg-color-light text-color-dark font-weight-extra-bold">14</span>
                                                <span class="month bg-color-light font-weight-semibold text-color-primary text-1">JAN</span>
                                            </div>
                                        </div>
                                        <div class="col pl-1">
                                            <h4 class="font-weight-normal line-height-3 text-4"><a href="blog-post.html" class="text-light">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                            <p class="text-color-light line-height-5 opacity-6 pr-4 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <a href="/" class="read-more text-color-light font-weight-semibold text-2">read more <i class="fas fa-chevron-right text-1 ml-1"></i></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-6 p-0">
            <section class="section section-height-3 section-secondary h-100 m-0 border-0">
                <div class="row m-0 mt-lg-5 pt-lg-2">
                    <div class="col-half-section mb-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                        <div class="row counters counters-sm counters-text-light">
                            <div class="col-md-6 mb-5">
                                <div class="counter">
                                    <strong class="font-weight-extra-bold" data-to="30000" data-append="+">0</strong>
                                    <label class="opacity-5 text-4 mt-1">Happy Clients</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5">
                                <div class="counter">
                                    <strong class="font-weight-extra-bold" data-to="3500" data-append="+">0</strong>
                                    <label class="opacity-5 text-4 mt-1">Answered Tickets</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-5 mb-md-0">
                                <div class="counter">
                                    <strong class="font-weight-extra-bold" data-to="16">0</strong>
                                    <label class="opacity-5 text-4 mt-1">Pre-made Demos</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="counter">
                                    <strong class="font-weight-extra-bold" data-to="3000" data-append="+">0</strong>
                                    <label class="opacity-5 text-4 mt-1">Development Hours</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>





{% endblock %}